<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CYAFE - 404</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='images/apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename='images/favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename='images/favicon-16x16.png')}}">
  <link rel="manifest" href="{{url_for('static',filename='images/site.webmanifest')}}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="container">
    <div class="copy-container center-xy">
        <p>
        404, page not found.
        </p>
    </div>
    </div>
</body>
</html>
