<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover">
    <title>Homepage - Cyafe</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='images/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename='images/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename='images/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static',filename='images/site.webmanifest')}}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!--Fonts-->
<link href="https://fonts.googleapis.com/css2?family=Joti+One&display=swap" rel="stylesheet">
    <!--Tailwind ting-->
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">

</head>
<body class="m-2">
    <header>
        <div class="flex justify-center">
            <!--Header section-->
            <nav class="text-center font-extrabold text-teal-700 text-9xl p-4">
                <h1 style='font-family: "Joti One", serif;'>cyafe</h1>
            </nav>
        </div>
    </header>
    <main class="p-4">
        <!--Description Section-->
        <section>
            <div class="px-2 2xl:px-4 xl:px-4 lg:px-4 text-sm 2xl:text-base xl:text-base lg:text-base mb-4">
                <span class="flex items-start justify-center text-center">
                    <p>
                        Are you curious about cybersecurity or seeking answers to your
                        <strong style='font-family: "Joti One"' class="text-xl">cybersecurity</strong> questions?
                        Look no further! <strong style='font-family: "Joti One"' class="text-xl">cyafe</strong> 
                        is here to assist you. Cyafe leverages the latest advancements in
                        <strong style='font-family: "Joti One"' class="text-xl">natural language processing</strong> and cybersecurity
                        expertise to deliver accurate, informative, and timely responses. 
                        <br>
                        <br><span class="text-xl">
                        Start chatting with
                        <strong style='font-family: "Joti One"' class="text-2xl">cyafe</strong> today and embark on your cybersecurity journey with confidence!</span>                    
                    </p>
                </span>
            </div>
        </section>

        <!--Chat Area-->
        <section>
            <div class="border min-h-96 max-h-96 border-teal-600 flex-col flex-shrink-0 rounded-2xl bg-zinc-100 py-2 2xl:p-4 xl:p-4 lg:p-4 overflow-auto">
                <div class="flex flex-col h-full overflow-x-auto">
                    <div class="flex flex-col h-full">
                      <div id="chatbox" class="grid grid-cols-12 gap-y-2">
                            <!--Bot's text-->
                            <div class="col-start-1 col-end-10 p-2 rounded-lg">
                                <div class="flex flex-row items-start">
                                    <img class="flex h-10 w-10 rounded-full flex-shrink-0" src="{{url_for('static',filename='images/bot.jpg')}}" alt="">
                                    <p class="relative min-h-10 ml-2 text-sm bg-white py-2 px-2 2xl:px-4 xl:px-4 lg:px-4 shadow rounded-xl">
                                        Heyy!
                                    </p>
                                </div>
                            </div>

                            <!--User's text-->                               
                        </div>
                        <div id="userInput">
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex h-full py-2 2xl:py-4 xl:py-4 lg:py-4">
                <input
                    type="text"
                    id="textInput"
                    placeholder="Write your question here..."
                    class="p-2 bg-gray-50 border border-teal-600 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <button id="send" class="flex items-center ml-2 2xl:ml-4 xl:ml-4 lg:ml-4  bg-teal-600 text-white rounded-lg px-4">
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M12 2a1 1 0 0 1 .932.638l7 18a1 1 0 0 1-1.326 1.281L13 19.517V13a1 1 0 1 0-2 0v6.517l-5.606 2.402a1 1 0 0 1-1.326-1.281l7-18A1 1 0 0 1 12 2Z" clip-rule="evenodd"/>
                    </svg>                      
                    send
                </button>
            </div>
        </section>
    </main>
    <footer class="bg-teal-700 text-white mt-8 m-4 px-4 py-2 rounded-lg">
        <div class="flex py-2 items-center">
            <h1 class="text-2xl pr-4" style='font-family: "Joti One"'>cyafe</h1>
            <a class="no-underline" href="https://github.com/injili/ChatBot" target="_blank">
                <svg class="w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M12.006 2a9.847 9.847 0 0 0-6.484 2.44 10.32 10.32 0 0 0-3.393 6.17 10.48 10.48 0 0 0 1.317 6.955 10.045 10.045 0 0 0 5.4 4.418c.504.095.683-.223.683-.494 0-.245-.01-1.052-.014-1.908-2.78.62-3.366-1.21-3.366-1.21a2.711 2.711 0 0 0-1.11-1.5c-.907-.637.07-.621.07-.621.317.044.62.163.885.346.266.183.487.426.647.71.135.253.318.476.538.655a2.079 2.079 0 0 0 2.37.196c.045-.52.27-1.006.635-1.37-2.219-.259-4.554-1.138-4.554-5.07a4.022 4.022 0 0 1 1.031-2.75 3.77 3.77 0 0 1 .096-2.713s.839-.275 2.749 1.05a9.26 9.26 0 0 1 5.004 0c1.906-1.325 2.74-1.05 2.74-1.05.37.858.406 1.828.101 2.713a4.017 4.017 0 0 1 1.029 2.75c0 3.939-2.339 4.805-4.564 5.058a2.471 2.471 0 0 1 .679 1.897c0 1.372-.012 2.477-.012 2.814 0 .272.18.592.687.492a10.05 10.05 0 0 0 5.388-4.421 10.473 10.473 0 0 0 1.313-6.948 10.32 10.32 0 0 0-3.39-6.165A9.847 9.847 0 0 0 12.007 2Z" clip-rule="evenodd"/>
                </svg>
            </a>
        </div>
        <p>
            <small>
                © 2024 cyafe | built with ♥ by injili, cheru, lenda and kai at Kabarak University.
            </small>
        </p>
        
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function getBotResponse() {
            let rawText = $("#textInput").val();
            let userHtml = '<div class="col-start-4 col-end-13 p-2 rounded-lg">' +
                            '<div class="flex items-start justify-start flex-row-reverse">' +
                            `<img class="flex h-10 w-10 rounded-full flex-shrink-0" src="{{url_for('static',filename='images/user.jpg')}}" alt="">` +
                            '<p class="relative min-h-10 mr-2 text-white text-sm bg-teal-600 py-2 px-2 2xl:px-4 xl:px-4 lg:px-4 shadow rounded-xl">'
                             + rawText + 
                            '</p></div></div>';
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            document
                .getElementById("userInput")
                .scrollIntoView({ block: "start", behavior: "smooth" });
            $.get("/get", { msg: rawText }).done(function (data) {
                var botHtml = '<div class="col-start-1 col-end-10 p-2 rounded-lg">' +
                                '<div class="flex flex-row items-start">' +
                                    `<img class="flex h-10 w-10 rounded-full flex-shrink-0" src="{{url_for('static',filename='images/bot.jpg')}}" alt="">` +
                                    '<p class="relative min-h-10 ml-2 text-sm bg-white py-2 px-2 2xl:px-4 xl:px-4 lg:px-4 shadow rounded-xl">'
                                         + data + 
                                    '</p></div></div>';
                $("#chatbox").append(botHtml);
                document
                    .getElementById("userInput")
                    .scrollIntoView({ block: "start", behavior: "smooth" });
            });
        }

        document.getElementById("send").addEventListener("click", handleButtonClick);
        function handleButtonClick() {
            getBotResponse();
        }

        $("#textInput").keypress(function (e) {
            if (e.which == 13) {
                getBotResponse();
            }
        });
    </script>
    
</body>
</html>
  